/* gelasio-regular - latin */
@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 400;
  src: local('Gelasio Regular'), local('Gelasio-Regular'),
       url('./site/assets/fonts/gelasio-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/gelasio-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gelasio-italic - latin */
@font-face {
  font-family: 'Gelasio';
  font-style: italic;
  font-weight: 400;
  src: local('Gelasio Italic'), local('Gelasio-Italic'),
       url('./site/assets/fonts/gelasio-v1-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/gelasio-v1-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gelasio-600 - latin */
@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 600;
  src: local('Gelasio SemiBold'), local('Gelasio-SemiBold'),
       url('./site/assets/fonts/gelasio-v1-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/gelasio-v1-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gelasio-600italic - latin */
@font-face {
  font-family: 'Gelasio';
  font-style: italic;
  font-weight: 600;
  src: local('Gelasio SemiBold Italic'), local('Gelasio-SemiBoldItalic'),
       url('./site/assets/fonts/gelasio-v1-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/gelasio-v1-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* archivo-regular - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Regular'), local('Archivo-Regular'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-italic - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: local('Archivo Italic'), local('Archivo-Italic'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-600 - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-700 - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo Bold'), local('Archivo-Bold'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-600italic - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-700italic - latin-ext_latin */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'),
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/archivo-v6-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* courier-prime-regular - latin-ext_latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  src: local('Courier Prime Regular'), local('CourierPrime-Regular'),
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* courier-prime-700 - latin-ext_latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  src: local('Courier Prime Bold'), local('CourierPrime-Bold'),
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* courier-prime-italic - latin-ext_latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 400;
  src: local('Courier Prime Italic'), local('CourierPrime-Italic'),
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* courier-prime-700italic - latin-ext_latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 700;
  src: local('Courier Prime Bold Italic'), local('CourierPrime-BoldItalic'),
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./site/assets/fonts/courier-prime-v1-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
