/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'negative';
@reset      : 'negative';

/* Elements */
@button     : 'negative';
@container  : 'negative';
@divider    : 'negative';
@emoji      : 'negative';
@flag       : 'negative';
@header     : 'negative';
@icon       : 'negative';
@image      : 'negative';
@input      : 'negative';
@label      : 'negative';
@list       : 'negative';
@loader     : 'negative';
@placeholder: 'negative';
@rail       : 'negative';
@reveal     : 'negative';
@segment    : 'negative';
@step       : 'negative';
@text       : 'negative';

/* Collections */
@breadcrumb : 'negative';
@form       : 'negative';
@grid       : 'negative';
@menu       : 'negative';
@message    : 'negative';
@table      : 'negative';

/* Modules */
@accordion  : 'negative';
@calendar   : 'negative';
@checkbox   : 'negative';
@dimmer     : 'negative';
@dropdown   : 'negative';
@embed      : 'negative';
@modal      : 'negative';
@nag        : 'negative';
@popup      : 'negative';
@progress   : 'negative';
@slider     : 'negative';
@rating     : 'negative';
@search     : 'negative';
@shape      : 'negative';
@sidebar    : 'negative';
@sticky     : 'negative';
@tab        : 'negative';
@toast      : 'negative';
@transition : 'negative';

/* Views */
@ad         : 'negative';
@card       : 'negative';
@comment    : 'negative';
@feed       : 'negative';
@item       : 'negative';
@statistic  : 'negative';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
